<!DOCTYPE html>
<html>
    <head>
        <title>Something Food</title>
        <meta name="viewport" content="width=device-width">
        <link rel="shortcut icon" href="{{ url_for('static',filename='images/favicon.ico') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style/badguy.css') }}">

    </head>
    <body>
        <div class="header_wrapper">
            <div class="header">
                <div class="header_company">SYM Inc.</div>
                <div class="header_product">Something Food</div>
                <div class="header_welcome">Hello Sucker! (sign out)</div>
            </div>
        </div>
        <div class="container cf">
            <div class="cellophane with-a-bow cf">
                <div class="entity-container">
                    <div class="entity-row with-space">
                        <div class="full-cell"><div class="sub-heading">I'm trying to steal your money!</div></div>
                    </div>
                    <div class="entity-row">
                        <div class="full-cell formatted">Using cross site request forgery</div>
                        <div class="full-cell formatted">{{  csrf_url }}</div>
                        <div class="full-cell formatted"><img height="0" width="0" src="{{ csrf_url }}"/></div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>