<!DOCTYPE html>
<html>
    <head>
        <title>Bad Guy Site</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="{{ url_for('static',filename='images/favicon.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static',filename='style/reset.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',filename='style/main.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',filename='style/badguy.css') }}">
    </head>
    <body>
        <div class="header_wrapper">
            <div class="header">
                <div class="header_company">BAD</div>
                <div class="header_product">Something Bad</div>
                <div class="header_welcome">Hello Sucker! (sign out)</div>
            </div>
        </div>
        <div class="container cf">
            <div id="main" role="main" class="cf">
                <ul id="tiles" class="cf">
                    <li data-twit-img-type="profile"><img src="{{ url_for('static', filename='images/image1.jpg') }}" width="250px" height="166px"><p>Here is some food</p></li>
                    <li data-twit-img-type="profile"><img src="{{ url_for('static', filename='images/image2.jpg') }}" width="250px" height="166px"><p>Here is some food</p></li>
                    <li data-twit-img-type="profile"><img src="{{ url_for('static', filename='images/image3.jpg') }}" width="250px" height="166px"><p>Here is some food</p></li>
                    <li data-twit-img-type="profile"><img src="{{ url_for('static', filename='images/image4.jpg') }}" width="250px" height="166px"><p>Here is some food</p></li>
                    <li data-twit-img-type="profile"><img src="{{ url_for('static', filename='images/image5.jpg') }}" width="250px" height="166px"><p>Here is some food</p></li>
                    <li data-twit-img-type="profile"><img src="{{ url_for('static', filename='images/image6.jpg') }}" width="250px" height="166px"><p>Here is some food</p></li>
                    <li data-twit-img-type="profile"><img src="{{ url_for('static', filename='images/image7.jpg') }}" width="250px" height="166px"><p>Here is some food</p></li>
                    <li data-twit-img-type="profile"><img src="{{ url_for('static', filename='images/image8.jpg') }}" width="250px" height="166px"><p>Here is some food</p></li>
                    <li data-twit-img-type="profile"><img src="{{ url_for('static', filename='images/image9.jpg') }}" width="250px" height="166px"><p>Here is some food</p></li>
                    <li data-twit-img-type="profile"><img src="{{ url_for('static', filename='images/image10.jpg') }}" width="250px" height="166px"><p>Here is some food</p></li>
                </ul>
            </div>
        </div>

        <script src="{{ url_for('static',filename='scripts/jquery-1.11.1.min.js') }}"></script>
        <script src="{{ url_for('static',filename='scripts/jquery.imagesloaded.js') }}"></script>
        <script src="{{ url_for('static',filename='scripts/jquery.wookmark.min.js') }}"></script>
        <script type="text/javascript">
            $(function (){
                var $tiles = $('#tiles'),
                $handler = $('li', $tiles),
                $main = $('#main'),
                $window = $(window),
                $document = $(document),
                options = {
                    autoResize: true, // This will auto-update the layout when the browser window is resized.
                    container: $main, // Optional, used for some extra CSS styling
                    offset: 20, // Optional, the distance between grid items
                    itemWidth: 310 // Optional, the width of a grid item
                };

                function applyLayout() {
                    $tiles.imagesLoaded(function() {
                        // Destroy the old handler
                        if ($handler.wookmarkInstance) {
                            $handler.wookmarkInstance.clear();
                        }

                        // Create a new layout handler.
                        $handler = $('li', $tiles);
                        $handler.wookmark(options);
                    });
                }
                applyLayout();
            });
        </script>
    </body>
</html>