<!DOCTYPE html>
<html>
    <head>
        <title>My Bank . Balance</title>
        <meta name="viewport" content="width=device-width">
        <meta http-equiv="refresh" content="5">
        <link rel="shortcut icon" href="{{ url_for('static',filename='images/favicon.ico') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style/mybank.css') }}">
    </head>
    <body>
        <div class="header_wrapper">
            <div class="header show_desktop">
                <div class="header_company">$ My Bank $</div>
                <div class="header_product"><a href="/balance">Account Balance</a></div>
                <div class="header_welcome">Hello Customer! (sign out)</div>
            </div>
            <div class="header show_mobile">
                <div class="header_company"></div>
                <div class="header_product"><a href="/balance">Balance</a></div>
            </div>
        </div>
        <div class="container cf">
            <div class="cellophane with-a-bow cf">
                <form action="/secure_withdrawl" method="get">
                    <div class="entity-container">
                        <div class="entity-row">
                            <div class="full-cell"><div class="sub-heading">Balance and Transactions</div></div>
                        </div>
                        <div class="entity-row">
                            <div class="label-cell formatted">Beginning Balance</div>
                            <div class="value-cell formatted">${{ beginning_balance }}</div>
                        </div>
                        {% for transaction in transactions %}
                            <div class="entity-row">
                                <div class="label-cell formatted">Withdrawal</div>
                                <div class="value-cell formatted">${{ transaction }}</div>
                            </div>
                        {% endfor %}
                        <div class="entity-row">
                            <div class="label-cell formatted">Current Balance</div>
                            <div class="value-cell formatted">${{ balance }}</div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>